.container{
    padding: 10px;
    font-family: "Roboto";
}
a{
    text-decoration: none;
    color: inherit;
}
.imgPeli{
    object-fit: cover;
    width: 200px;
    padding: 5px;
}
.flotar{
    float: left;
}
tspan{
    color: black;
}
.mat-card-title{
    font-weight: 800;
}

.letraPequena{
    font-size: 11px;
    font-style: italic;
}


.fav:hover{
    color: red;
}
.botonFav{
    background: none;
    border: none;
}