<div fxLayout="row wrap" fxLayoutGap="5px" class="container">
    <mat-card *ngFor="let pelicula of peliculas" fxFlex="1 1 calc(33.3%-5px)" fxFlex.lt-lg="1 1 calc(50%-5px)" fxFlex.lt-sm="1 1 calc(100%-5px)">
        <div fxLayout="row" >
            <div fxLayout="column" fxLayoutAlign="start start">
                <img [src]="enlace+pelicula.poster_path" alt="Foto de {{pelicula.title}}" class="imgPeli" fxHide.sm="true"  fxHide.xs="true">
         
            </div>
            <div fxLayout="column" fxLayoutAlign="start start">
                <div fxLayout="row" >
                    <circle-progress fxLayout="column"
                        [percent]="pelicula.vote_average*10"
                        [backgroundColor]="ponerColorPorPuntuacion(pelicula.vote_average)"
                       
                    ></circle-progress>
                    <div fxLayout="column" fxLayoutAlign="start start">
                        <mat-card-title fxLayout="row" [ngStyle]="{color:ponerColorPorPuntuacion(pelicula.vote_average)}">{{ pelicula.title }}</mat-card-title>
                        <mat-card-subtitle fxLayout="row">{{ pelicula.release_date }}</mat-card-subtitle>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                        <mat-card-content>
                            <p>{{pelicula.overview}}</p>
                        </mat-card-content>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                    <div>                        
                        <button mat-button><a [routerLink]="['/pelicula',pelicula.id]">Ver detalle</a></button>
                    </div>
                    <div>
                        <button mat-button color="warn" ><mat-icon aria-hidden="false" class="fav" (click)="marcarFavorito(pelicula.id)" class="fav">
                              favorite
                        </mat-icon></button>
                        <button mat-button color="primary"><mat-icon aria-hidden="false"  (click)="marcarWatchlist(pelicula.id)" class="fav">
                            remove_red_eye
                      </mat-icon></button>
                    </div>
                  
                </div>
                
            </div>
         
        </div>
        
    </mat-card>
   
</div>

