<!--<app-listado-peliculas></app-listado-peliculas>-->
<mat-toolbar color="primary" class="menu">
    <mat-toolbar-row>
      <span [routerLink]="[ '/populares' ]" >
        <button mat-button><img  src="assets/logo.png"></button>
      </span>
      <span class="example-spacer"></span>
      
      <div >
        
        <button mat-button><mat-icon [routerLink]="[ '/populares' ]"  class="example-icon">whatshot</mat-icon></button>
        <button mat-button><mat-icon [routerLink]="[ '/latest' ]"  class="example-icon">publish</mat-icon></button>
        <button mat-button><mat-icon [routerLink]="[ '/toprated' ]"  class="example-icon">star</mat-icon></button>
        <button mat-button><mat-icon [routerLink]="[ '/watchlist' ]" *ngIf="sessionId"  class="example-icon">remove_red_eye</mat-icon></button>
        <button mat-button> <mat-icon [routerLink]="[ '/listas' ]" *ngIf="sessionId"  class="example-icon">format_list_bulleted</mat-icon></button>


      </div>
      <div>
       
        <button mat-button><mat-icon  class="example-icon" aria-hidden="false" [routerLink]="[ '/favoritos' ]" *ngIf="sessionId">
            favorite</mat-icon></button>
  
          <button mat-button><mat-icon  class="example-icon" *ngIf="!sessionId" aria-hidden="false" (click)="requestToken()">account_circle</mat-icon></button> 
          <button mat-button> <mat-icon  class="example-icon" aria-hidden="false" *ngIf="sessionId" (click)="logout()" >exit_to_app</mat-icon> </button>

      
      </div>
      
  </mat-toolbar-row>
</mat-toolbar>
  
<router-outlet></router-outlet>
<!--Es como un container vacío donde se va a cargar los componentes-->