
<div fxLayout="row wrap" fxLayoutGap="5px" class="container">
    <mat-card fxFlex="1 1 calc(33.3%-5px)" fxFlex.lt-lg="1 1 calc(50%-5px)" fxFlex.lt-sm="1 1 calc(100%-5px)">
        <div fxLayout="row" >
            <div fxLayout="column" fxLayoutAlign="start start">
                <img  [src]="pelicula.poster_path" alt="Foto de {{pelicula.title}}" class="imgPeli" fxHide.sm="true"  fxHide.xs="true">
            </div>
      
            <div fxLayout="column" fxLayoutAlign="start start">
                <div fxLayout="row" >
                    
                    <div fxLayout="column" fxLayoutAlign="start start">
                        <mat-card-title>{{pelicula.title}}</mat-card-title>
                        <mat-card-subtitle fxLayout="row">{{ pelicula.release_date }}</mat-card-subtitle>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                        <mat-card-content>
                                <p [ngClass]="{letraPequena: (calcularLongitudDescripcion(pelicula.overview)>180)}">{{pelicula.overview}}</p>
                        </mat-card-content>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                    <div>                        
                        <a [routerLink]="['/pelicula',pelicula.id]"><button mat-button>Ver detalle</button></a>
                    </div>
                    
                </div>
               
            </div>
         
        </div>
        
    </mat-card>
   
</div>
