<div fxLayout="row" fxLayoutAlign="start start" class="container">
    <div fxLayout="column" fxLayoutAlign="start start">
        <img [src]="pelicula.poster_path" alt="Foto de {{pelicula.title}}" class="imgPeli" fxHide.sm="true"  fxHide.xs="true">
    </div>
    <div fxLayout="column" fxLayoutAlign="start start" class="margen">
        <div fxLayout="row" >
             <div fxLayout="column" fxLayoutAlign="start start">
                <h1>{{pelicula.title}}</h1>
            </div>
             <div fxLayout="column" fxLayoutAlign="start start">
                <circle-progress fxLayout="column"
                    [percent]="pelicula.vote_average*10"
                    [backgroundColor]="ponerColorPorPuntuacion(pelicula.vote_average)"
                
                ></circle-progress>
            </div>
        </div>
        <div fxLayout="row" >
            
            <div fxLayout="column" fxLayoutAlign="start start">
                <mat-card-subtitle fxLayout="row">{{ pelicula.release_date }}</mat-card-subtitle>
                <mat-card-subtitle fxLayout="row">{{ pelicula.genres }}</mat-card-subtitle>
                <mat-card-subtitle fxLayout="row">{{ pelicula.status }}</mat-card-subtitle>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <mat-card-content>
                <p>{{pelicula.overview}}</p>
            </mat-card-content>
        </div>

</div>