.container {
    padding: 30px;
    margin-bottom: 100px;
}

.login {
    padding: 50px 50px;
    width: 300px;

}

.logo{
    text-align: center;
}

.imglogo{
    width: 250px;
    height: 250px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }