<div fxLayout="row wrap" fxLayoutGap="5px" class="container" *ngIf="peliculasfav!==undefined" >
        <mat-card *ngFor="let pelicula of peliculasfav" fxFlex="1 1 calc(33.3%-5px)" fxFlex.lt-lg="1 1 calc(50%-5px)" fxFlex.lt-sm="1 1 calc(100%-5px)">
            <div fxLayout="row" >
                <div fxLayout="column" fxLayoutAlign="start start">
                    <img [src]="enlace+pelicula.poster_path" alt="Foto de {{pelicula.title}}" class="imgPeli" fxHide.sm="true"  fxHide.xs="true">
             
                </div>
                <div fxLayout="column" fxLayoutAlign="start start">
                    <div fxLayout="row" >
                        <circle-progress fxLayout="column"
                            [percent]="pelicula.vote_average*10"
                            [backgroundColor]="ponerColorPorPuntuacion(pelicula.vote_average)"
                           
                        ></circle-progress>
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <mat-card-title fxLayout="row" [ngStyle]="{color:ponerColorPorPuntuacion(pelicula.vote_average)}">{{ pelicula.title }}</mat-card-title>
                            <mat-card-subtitle fxLayout="row">{{ pelicula.release_date }}</mat-card-subtitle>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                            <mat-card-content>
                                <p [ngClass]="{letraPequena: (calcularLongitudDescripcion(pelicula.overview)>180)}">{{pelicula.overview}}</p>
                            </mat-card-content>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                        <div>                        
                            <a [routerLink]="['/pelicula',pelicula.id]"><button mat-button>Ver detalle</button></a>
                           <button> <mat-icon aria-hidden="false" class="fav" (click)="desmarcarPeliculaFavorita(pelicula.id)">
                                delete</mat-icon></button>
                        </div>
                      
                    </div>
                    
                </div>
             
            </div>
            
        </mat-card>
       
    </div>
<div  *ngIf="peliculasfav==undefined">
    <h1>No tiene ninguna película agregada a Favoritos.</h1>
</div>
    
