<h1 mat-dialog-title>{{data.edit?'Editar':'Crear'}}</h1>
<div mat-dialog-content>
    <form>
        <mat-form-field>
            <mat-label>Título del tipo de alarma:</mat-label>

            <input matInput [(ngModel)]="data.edit?type.description:typeN.description" placeholder="Título" [formControl]="titulo" required>
            <mat-error *ngIf="titulo.invalid">Escriba un título</mat-error>

        </mat-form-field>

        <mat-form-field>
            <mat-label>Lugar asociado al tipo de alarma</mat-label>
          
        <mat-select [(value)]="data.edit?type.places:typeN.places">
            <mat-option *ngFor="let place of places" value="{{place}}">
                {{ place }}
            </mat-option>
        </mat-select>
        </mat-form-field>

    </form>

</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="close()" color="warn">Cancelar</button>
    <button mat-raised-button (click)="data.edit?create():edit()" cdkFocusInitial>Ok</button>
</div>